.container {
	@include flex($justify: space-between, $gap: 23px);
	padding-block: 100px 150px;

	@include media($mobile-bp) {
		align-items: center;
		flex-direction: column;
		padding-top: 40px;
		padding-bottom: 100px;
		gap: 30px;
	}
}

.info {
	@include flex(flex-start, center, 56px);
	flex-direction: column;
	text-align: left;
	position: relative;
	z-index: 2;

	width: 466px;
	min-width: 466px;

	@include media($mobile-bp) {
		gap: 20px;
		width: 100%;
		min-width: unset;
	}

	&Title {
		max-width: 564px;
		font-size: 50px;
		text-transform: uppercase;
		color: var(--bold-text);

		@include media($mobile-bp) {
			font-size: 32px;
		}
	}

	&Desc {
		max-width: 433px;
	}
}

.poster {
	z-index: 1;
	border-radius: 20px;
	overflow: hidden;

	img {
		display: block;
		height: 100%;
		width: 100%;

		@include media($mobile-bp) {
			max-height: 400px;
		}
	}
}
